<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            ngModel
            required
            #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger">
              <div *ngIf = "name.errors?.required">
                First Name field can't be blank
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="description">Description</label>
          <input
            type="text"
            id="description"
            name="description"
            ngModel
            required
            #description="ngModel">
          <div *ngIf="description.invalid && (description.dirty || description.touched)"
            class="alert alert-danger">
              <div *ngIf = "description.errors?.required">
                Description field can't be blank
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="coveragetype">Coverage Type</label>
          <select
            type="text"
            id="coveragetype"
            name="coveragetype"
            ngModel
            required
            #coveragetype="ngModel">>
              <option *ngFor="let coverage of allCoverages"  [value]="coverage.id">
                {{ coverage.name }}
              </option>
          </select>
          <div *ngIf="coveragetype.invalid && (coveragetype.dirty || coveragetype.touched)"
            class="alert alert-danger">
              <div *ngIf = "coveragetype.errors?.required">
                Coverage field can't be blank
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="coveragepercentage">Coverage percentage</label>
          <input
            type="text"
            id="coveragepercentage"
            name="coveragepercentage"
            ngModel
            required
            #coveragepercentage="ngModel">
          <div *ngIf="coveragepercentage.invalid && (coveragepercentage.dirty || coveragepercentage.touched)"
            class="alert alert-danger">
              <div *ngIf = "coveragepercentage.errors?.required">
                Start date Name field can't be blank
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="coveragetime">Coverage time</label>
          <input
            type="text"
            id="coveragetime"
            name="coveragetime"
            ngModel
            required
            #coveragetime="ngModel">
          <div *ngIf="coveragetime.invalid && (coveragetime.dirty || coveragetime.touched)"
            class="alert alert-danger">
              <div *ngIf = "coveragetime.errors?.required">
                Coverage time field can't be blank
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="cost">Cost</label>
          <input
            type="text"
            id="cost"
            name="cost"
            ngModel
            required
            #cost="ngModel">
          <div *ngIf="cost.invalid && (cost.dirty || cost.touched)"
            class="alert alert-danger">
              <div *ngIf = "cost.errors?.required">
                Coverage time field can't be blank
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="risktype">Risk type</label>
          <select
            type="text"
            id="risktype"
            name="risktype"
            ngModel
            required
            #risktype="ngModel">>
              <option *ngFor="let risk of allRisks" [value]="risk.id">
                {{ risk.name }}
              </option>
          </select>
          <div *ngIf="risktype.invalid && (risktype.dirty || risktype.touched)"
            class="alert alert-danger">
              <div *ngIf = "risktype.errors?.required">
                Coverage time field can't be blank
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
        <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
    </div>

    </form>
  </div>
</div>