<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="horizonta-align-center col-sm-4 form-group">
          <label for="name">Name</label>
          <input
            class="input"
            type="text"
            id="name"
            name="name"
            ngModel
            required
            #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger">
              <div *ngIf = "name.errors?.required">
                First Name field can't be blank
              </div>
            </div>
        </div>
        <div class="horizonta-align-center col-sm-4 form-group">
          <label for="description">Description</label>
          <input
            class="input"
            type="text"
            id="description"
            name="description"
            ngModel
            required
            #description="ngModel">
          <div *ngIf="description.invalid && (description.dirty || description.touched)"
            class="alert alert-danger">
              <div *ngIf = "description.errors?.required">
                Description field can't be blank
              </div>
            </div>
        </div>
        <div class="horizonta-align-center col-sm-4 form-group">
          <label for="coverageType">Coverage Type</label>
          <select
            class="input"
            type="text"
            id="coverageType"
            name="coverageType"
            ngModel
            required
            #coverageType="ngModel">>
              <option *ngFor="let coverage of allCoverages"  [value]="coverage.id">
                {{ coverage.name }}
              </option>
          </select>
          <div *ngIf="coverageType.invalid && (coverageType.dirty || coverageType.touched)"
            class="alert alert-danger">
              <div *ngIf = "coverageType.errors?.required">
                Coverage field can't be blank
              </div>
            </div>
        </div>
        <div class="horizonta-align-center col-sm-4 form-group">
          <label for="coveragePercentage">Coverage percentage</label>
          <input
            class="input"
            type="text"
            id="coveragePercentage"
            name="coveragePercentage"
            ngModel
            required
            [pattern]="validPercentageRange"
            #coveragePercentage="ngModel">
          <div *ngIf="coveragePercentage.invalid && (coveragePercentage.dirty || coveragePercentage.touched)"
            class="alert alert-danger">
              <div *ngIf = "coveragePercentage.errors?.required">
                Coverage percentage field can't be blank.
              </div>
              <div *ngIf = "coveragePercentage.errors?.pattern">
                Must be between 0 and 100.
              </div>
            </div>
        </div>
        <div class="horizonta-align-center col-sm-4 form-group">
          <label for="coverageTime">Coverage time</label>
          <input
            class="input"
            type="text"
            id="coverageTime"
            name="coverageTime"
            ngModel
            required
            #coverageTime="ngModel">
          <div *ngIf="coverageTime.invalid && (coverageTime.dirty || coverageTime.touched)"
            class="alert alert-danger">
              <div *ngIf = "coverageTime.errors?.required">
                Coverage time field can't be blank
              </div>
            </div>
        </div>
        <div class="horizonta-align-center col-sm-4 form-group">
          <label for="riskType">Risk type</label>
          <select
            class="input"
            type="text"
            id="riskType"
            name="riskType"
            ngModel
            required
            (change)="riskChange(riskType)"
            #riskType="ngModel">
              <option class="horizonta-align-center" *ngFor="let risk of allRisks" [value]="risk.id">
                {{ risk.name }}
              </option>
          </select>
          <div *ngIf="riskType.invalid && (riskType.dirty || riskType.touched)"
            class="alert alert-danger">
              <div *ngIf = "riskType.errors?.required">
                Coverage time field can't be blank
              </div>
            </div>
        </div>
        <div class="horizonta-align-center col-sm-4 form-group">
          <label for="cost">Cost</label>
          <input
            class="input"
            type="text"
            id="cost"
            name="cost"
            ngModel
            required
            #cost="ngModel">
          <div *ngIf="cost.invalid && (cost.dirty || cost.touched)"
            class="alert alert-danger">
              <div *ngIf = "cost.errors?.required">
                Coverage time field can't be blank
              </div>
            </div>
        </div>
      </div>
      <div class="error">{{ errorHighRiskPolicy }}</div>
      <div class="row">
        <div class="col-xs-12">
          <button
              class="btn btn-success"
              type="submit"
              [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>