<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="nav-link" routerLink="/" class="navbar-brand">GAP Insurance</a>
    <div class="collaps navbar-collapse">
      <ul class="navbar-nav navbar-right">
          <ng-template [ngIf]="isAuthenticated()">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="clients">Clients</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="policys">Policies</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
          </ng-template>
          <ng-template [ngIf]="!isAuthenticated()">
            <li class="nav-item" >
              <a class="nav-link" routerLink="login">Login</a>
            </li>
          </ng-template>
        <!-- <div class="navbar-right">
          <app-login *ngIf="!isAuthenticated()"></app-login>
        </div> -->
      </ul>
    </div>
  </nav>
</header>